.land,
.marker {
  fill: #f5f5f5; /* Light grey */
  stroke: black;
  stroke-width: 1;
  transition: fill 0.2s ease-in-out;
}

/* Apply hover effect only for hoverable elements */
.land.hoverable:hover,
.marker.hoverable:hover {
  fill: #a9a9a9; /* Dark grey */
  cursor: pointer;
}

/* Guessed countries - no hover */
.land.guessed,
.marker.guessed {
  cursor: default;
}

.filler_country {
  fill: #808080;
  stroke: black;
  stroke-width: 1
}

.country-green {
  fill: #4caf50;
}

.country-yellow {
  fill: #ffeb3b;
}

.country-redyellow {
  fill: #ffc107;
}

.country-red {
  fill: #f44336;
}

.quiz-container {
  text-align: center;
  font-family: Arial, sans-serif;
}

.quiz-controls {
  margin-bottom: 20px;
}

.quiz-controls button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
}

.quiz-controls button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.quiz-controls button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.map-container {
  border: 2px solid black;
  border-radius: 8px;
  background-color: #87ceeb;
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
  overflow: hidden;
}

